In [2]:
import pandas as pd

In [3]:
ad_clicks = pd.read_csv('ad_clicks.csv')

In [4]:
print(ad_clicks.head(10))

                                user_id utm_source            day  \
0  008b7c6c-7272-471e-b90e-930d548bd8d7     google   6 - Saturday
1  009abb94-5e14-4b6c-bb1c-4f4df7aa7557   facebook     7 - Sunday
2  00f5d532-ed58-4570-b6d2-768df5f41aed    twitter    2 - Tuesday
3  011adc64-0f44-4fd9-a0bb-f1506d2ad439     google    2 - Tuesday
4  012137e6-7ae7-4649-af68-205b4702169c   facebook     7 - Sunday
5  013b0072-7b72-40e7-b698-98b4d0c9967f   facebook     1 - Monday
6  0153d85b-7660-4c39-92eb-1e1acd023280     google   4 - Thursday
7  01555297-d6e6-49ae-aeba-1b196fdbb09f     google  3 - Wednesday
8  018cea61-19ea-4119-895b-1a4309ccb148      email     1 - Monday
9  01a210c3-fde0-4e6f-8efd-4f0e38730ae6      email    2 - Tuesday

  ad_click_timestamp experimental_group
0               7:18                  A
1                NaN                  B
2                NaN                  A
3                NaN                  B
4                NaN                  B
5                NaN                  A
6                NaN                  A
7                NaN                  A
8              18:33                  A
9              15:21                  B

In [5]:
ad_clicks.groupby('utm_source').user_id.count().reset_index()

  utm_source  user_id
0      email      255
1   facebook      504
2     google      680
3    twitter      215

In [8]:
ad_clicks['is_click'] = ~ad_clicks.ad_click_timestamp.isnull()
# print(ad_clicks.head(10))

                                user_id utm_source            day  \
0  008b7c6c-7272-471e-b90e-930d548bd8d7     google   6 - Saturday
1  009abb94-5e14-4b6c-bb1c-4f4df7aa7557   facebook     7 - Sunday
2  00f5d532-ed58-4570-b6d2-768df5f41aed    twitter    2 - Tuesday
3  011adc64-0f44-4fd9-a0bb-f1506d2ad439     google    2 - Tuesday
4  012137e6-7ae7-4649-af68-205b4702169c   facebook     7 - Sunday
5  013b0072-7b72-40e7-b698-98b4d0c9967f   facebook     1 - Monday
6  0153d85b-7660-4c39-92eb-1e1acd023280     google   4 - Thursday
7  01555297-d6e6-49ae-aeba-1b196fdbb09f     google  3 - Wednesday
8  018cea61-19ea-4119-895b-1a4309ccb148      email     1 - Monday
9  01a210c3-fde0-4e6f-8efd-4f0e38730ae6      email    2 - Tuesday

  ad_click_timestamp experimental_group  is_click
0               7:18                  A      True
1                NaN                  B     False
2                NaN                  A     False
3                NaN                  B     False
4                NaN                  B     False
5                NaN                  A     False
6                NaN                  A     False
7                NaN                  A     False
8              18:33                  A      True
9              15:21                  B      True

In [9]:
clicks_by_source = ad_clicks.groupby(['utm_source', 'is_click']).user_id.count().reset_index()
# print(clicks_by_source)

  utm_source  is_click  user_id
0      email     False      175
1      email      True       80
2   facebook     False      324
3   facebook      True      180
4     google     False      441
5     google      True      239
6    twitter     False      149
7    twitter      True       66

In [10]:
clicks_pivot = clicks_by_source.pivot(columns = 'is_click', index = 'utm_source', values = 'user_id').reset_index()
print(clicks_pivot)

is_click utm_source  False  True
0             email    175    80
1          facebook    324   180
2            google    441   239
3           twitter    149    66

In [12]:
clicks_pivot['percent_clicked'] = clicks_pivot[True] / (clicks_pivot[True] + clicks_pivot[False])
print(clicks_pivot.head(10))

is_click utm_source  False  True  percent_clicked
0             email    175    80         0.313725
1          facebook    324   180         0.357143
2            google    441   239         0.351471
3           twitter    149    66         0.306977

In [13]:
ad_clicks.groupby('experimental_group').user_id.count().reset_index()

  experimental_group  user_id
0                  A      827
1                  B      827

In [14]:
ad_clicks.groupby(['experimental_group', 'is_click']).user_id.count().reset_index()

  experimental_group  is_click  user_id
0                  A     False      517
1                  A      True      310
2                  B     False      572
3                  B      True      255