In [3]:
import pandas as pd

In [4]:
ad_clicks = pd.read_csv('ad_clicks.csv')

In [5]:
print(ad_clicks.head(10))

                                user_id utm_source            day  \
0  008b7c6c-7272-471e-b90e-930d548bd8d7     google   6 - Saturday
1  009abb94-5e14-4b6c-bb1c-4f4df7aa7557   facebook     7 - Sunday
2  00f5d532-ed58-4570-b6d2-768df5f41aed    twitter    2 - Tuesday
3  011adc64-0f44-4fd9-a0bb-f1506d2ad439     google    2 - Tuesday
4  012137e6-7ae7-4649-af68-205b4702169c   facebook     7 - Sunday
5  013b0072-7b72-40e7-b698-98b4d0c9967f   facebook     1 - Monday
6  0153d85b-7660-4c39-92eb-1e1acd023280     google   4 - Thursday
7  01555297-d6e6-49ae-aeba-1b196fdbb09f     google  3 - Wednesday
8  018cea61-19ea-4119-895b-1a4309ccb148      email     1 - Monday
9  01a210c3-fde0-4e6f-8efd-4f0e38730ae6      email    2 - Tuesday

  ad_click_timestamp experimental_group
0               7:18                  A
1                NaN                  B
2                NaN                  A
3                NaN                  B
4                NaN                  B
5                NaN                  A
6                NaN                  A
7                NaN                  A
8              18:33                  A
9              15:21                  B

In [6]:
ad_clicks.groupby('utm_source').user_id.count().reset_index()

  utm_source  user_id
0      email      255
1   facebook      504
2     google      680
3    twitter      215

In [7]:
ad_clicks['is_click'] = ~ad_clicks.ad_click_timestamp.isnull()
# print(ad_clicks.head(10))

In [8]:
clicks_by_source = ad_clicks.groupby(['utm_source', 'is_click']).user_id.count().reset_index()
# print(clicks_by_source)

In [9]:
clicks_pivot = clicks_by_source.pivot(columns = 'is_click', index = 'utm_source', values = 'user_id').reset_index()
print(clicks_pivot)

is_click utm_source  False  True
0             email    175    80
1          facebook    324   180
2            google    441   239
3           twitter    149    66

In [10]:
clicks_pivot['percent_clicked'] = clicks_pivot[True] / (clicks_pivot[True] + clicks_pivot[False])
print(clicks_pivot.head(10))

is_click utm_source  False  True  percent_clicked
0             email    175    80         0.313725
1          facebook    324   180         0.357143
2            google    441   239         0.351471
3           twitter    149    66         0.306977

In [11]:
ad_clicks.groupby('experimental_group').user_id.count().reset_index()

  experimental_group  user_id
0                  A      827
1                  B      827

In [12]:
ad_clicks.groupby(['experimental_group', 'is_click']).user_id.count().reset_index()

  experimental_group  is_click  user_id
0                  A     False      517
1                  A      True      310
2                  B     False      572
3                  B      True      255

In [14]:
a_clicks = ad_clicks[ad_clicks.experimental_group == 'A']

b_clicks = ad_clicks[ad_clicks.experimental_group == 'B']

In [16]:
aclicks_pivot = a_clicks.groupby(['is_click', 'day']).user_id.count().reset_index().pivot(columns='is_click',index='day',values='user_id')
bclicks_pivot = b_clicks.groupby(['is_click', 'day']).user_id.count().reset_index().pivot(columns='is_click',index='day',values='user_id')

aclicks_pivot['percent_clicked'] = aclicks_pivot[True] / (aclicks_pivot[True] + aclicks_pivot[False])
bclicks_pivot['percent_clicked'] = bclicks_pivot[True] / (bclicks_pivot[True] + bclicks_pivot[False])

print(aclicks_pivot)
print(bclicks_pivot)

is_click       False  True  percent_clicked
day
1 - Monday        70    43         0.380531
2 - Tuesday       76    43         0.361345
3 - Wednesday     86    38         0.306452
4 - Thursday      69    47         0.405172
5 - Friday        77    51         0.398438
6 - Saturday      73    45         0.381356
7 - Sunday        66    43         0.394495
is_click       False  True  percent_clicked
day
1 - Monday        81    32         0.283186
2 - Tuesday       74    45         0.378151
3 - Wednesday     89    35         0.282258
4 - Thursday      87    29         0.250000
5 - Friday        90    38         0.296875
6 - Saturday      76    42         0.355932
7 - Sunday        75    34         0.311927